
body{
    font-family: 'Inter', sans-serif;
    line-height: 28px;
}

.title-main{
    font-size: 24px;
}
.color-blue{
    color:rgb(65, 134, 238)
}
.background-blue{
    background-color: rgb(65, 134, 238);
    color: white;
    width: 90vw;
    height: 50vh;
    font-weight: 300;
    padding: 10px;
    border-top: dashed 10px black;
    border-right: double 20px #ffee04;
    border-bottom: ridge 10px black;
    border-left: groove 20px yellow;

}
.background-black{
    background-color: black;
    color: white;
}
#text-center{
    text-align: center;
}
li{
    border-bottom: 2px;
}
